  h1 {
    font-weight: bold; /* texte en gras */
    border: 2px solid #04838F; /* ajoute un contour */
    padding: 10px; /* espacement intérieur */
    border-radius: 5px; /* coins de l'encadré */
    text-align: center; /* centre le texte à l'intérieur */
    background-color: #f0f0f0; /* couleur de fond */
  }
  