  h1 {
    font-weight: bold; /* Met le texte en gras */
    border: 2px solid #04838F; /* Ajoute un contour */
    padding: 10px; /* Ajoute un espacement intérieur */
    border-radius: 5px; /* Arrondit les coins de l'encadré */
    text-align: center; /* Centre le texte à l'intérieur */
    background-color: #f0f0f0; /* Optionnel : couleur de fond */
  }
  