:host {
  display: block;
  max-width: 500px; /* Réduit la largeur maximale */
  margin: auto; /* Centre le graphique */
}

.header-container {
  width: 100%; /* Conteneur plein écran */
  max-width: 350px; /* Limite la largeur si besoin */
  margin: auto; /* Centre le conteneur */
}

h1 {
  text-align: center;
  background-color: #04838F;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.data-container {
  display: flex;
  justify-content: center;
  margin: 10px 0; /* Espacement réduit autour du conteneur */
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #04838F;
  background-color: transparent;
  color: black;
  padding: 5px;
  border-radius: 9px;
  margin: 0 5px; /* Réduit l'espacement */
}

h2 {
  font-size: 14px; /* Réduit la taille de la police */
  margin: 0;
  color: #636363;
}

.number {
  font-size: 20px; /* Réduit la taille du nombre */
  margin: 1px 0 0 0;
  font-weight: bold;
}
